<div>

    <h1>Marketing</h1>

    <button ng-click="view='suppliers'">Suppliers</button>
    <button ng-click="view='inventory'">Inventory</button>
    <input type="number" ng-model="orderQuantity" value="5">

    <div ng-show="view=='suppliers'">
        <h3>Suppliers</h3>

        <div ng-show="viewSupplier=='all'">
            <h5>All</h5>
            <button ng-click="viewSupplier='add'">Add Supplier</button>
            Search : <input type="search" ng-model="searchBox"><button ng-click="search(searchBox)">Go</button>
            <table >
                <thead>
                    <th>Name</th><th>Description</th><th>Country Code</th><th>Phone Number</th><th>View</th>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in supplierResult">
                        <td>{{supplier.name}}</td>
                        <td>{{supplier.desc}}</td>
                        <td>{{supplier.cc}}</td>
                        <td>{{supplier.num}}</td>
                        <td><button ng-click="viewSupplierInventory(supplier)">View</button> </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div ng-show="viewSupplier=='add'">

            <h5>Add</h5>

            <div>
                Name : <input type="text" ng-model="addName" placeholder="John Smith Ltd">
                Description : <input type="text" ng-model="addDesc" placeholder="Annonymous trader">
                Country Code : <input type="number" ng-model="addCC" value="44">
                Phone number : <input type="tel" ng-model="addNum">
                Address Line 1 : <input type="text" ng-model="addL1">
                Postcode : <input type="text" ng-model="addPostcode">
            </div>
            <button ng-click="addSupplier()">Add Supplier</button>
            <button ng-click="viewSupplier='all'">Back</button>
        </div>

        <div ng-show="!(viewSupplier=='all'||viewSupplier=='add')">

            <h5>{{viewSupplier}} - Inventory</h5>            

            <button ng-hide="viewSupplier.user==true" ng-click="editItem({})">Add Item</button>
            <table >
                <thead>
                    <th>Product</th><th>Description</th><th>Quantity</th><th>Price</th><th>Weight KG</th><th>Barcode</th><th>Order</th>
                </thead>
                <tbody>
                    <tr ng-show="itemEdit!='false'" ng-hide="itemEdit=='false'">
                        <td><input type="text" ng-model="itemEdit.name" value="{{itemEdit.name}}"></td>
                        <td><input type="text" ng-model="itemEdit.desc" value="{{itemEdit.desc}}"></td>
                        <td><input type="text" ng-model="itemEdit.quantity" value="{{itemEdit.quantity}}">-(for correction only)</td>
                        <td>£<input type="number" ng-model="itemEdit.price" value="{{itemEdit.price}}"></td>
                        <td><input type="number" ng-model="itemEdit.weight" value="{{itemEdit.weight}}"></td>
                        <td><input type="number" ng-model="itemEdit.barcode" value="{{itemEdit.barcode}}"></td>
                        <td ng-click='editItem("false")'>Save</td>
                    </tr>
                    <tr ng-repeat="item in supplierInventoryResult" ng-hide="itemEdit==item">
                        <td>{{item.name}}</td>
                        <td>{{item.desc}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.weight}}</td>
                        <td>{{item.barcode}}</td>
                        <td><button ng-click='reOrder(item)'>Order</button></td>
                    </tr>
                </tbody>
            </table>

            <button ng-click="viewSupplier='all'">Back</button>
        </div>

    </div>

    <div ng-show="view=='inventory'">
        <h3>Inventory</h3>

        <table >
            <thead>
                <th>Product</th><th>Description</th><th>Quantity</th><th>Price</th><th>Edit</th><th>Re-order</th>
            </thead>
            <tbody>
                <tr ng-show="itemEdit!='false'" ng-hide="itemEdit=='false'">
                    <td><input type="text" ng-model="itemEdit.name" value="{{itemEdit.name}}"></td>
                    <td><input type="text" ng-model="itemEdit.desc" value="{{itemEdit.desc}}"></td>
                    <td><input type="text" ng-model="itemEdit.quantity" value="{{itemEdit.quantity}}">-(for correction only)</td>
                    <td>£<input type="number" ng-model="itemEdit.price" value="{{itemEdit.price}}"></td>
                    <td ng-click='editItem("false")'>Save</td>
                    <td>-</td>
                </tr>
                <tr ng-repeat="item in inventoryResult" ng-hide="itemEdit==item">
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price}}</td>
                    <td><button ng-click="editItem(item)">Edit</button> </td>
                    <td><button ng-click='reOrder(item)'>Re-order</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>