<div>

    <div ng-show="view=='account'">
        <h1>Account management</h1>
        <p>Account email : <input type="email" ng-model="email" placeholder="example@example.com"> <button ng-click="getAccount()">Search</button></p>
        <button ng-click="addRoleView()">Add Role</button>
        <table >
            <thead>
                <th>Role</th><th>Remove</th>
            </thead>
            <tbody>
                <tr ng-repeat="role in roles"><td>{{role.name}}</td><td ng-click='remove(role.id)'>Remove</td></tr>
            </tbody>
        </table>
        <p>{{currentAccount}}</p>
    </div>


    <div ng-show="view=='add'">
        <h1>Add Roles</h1>
        <table >
            <thead>
                <th>Role</th><th>Add</th>
            </thead>
            <tbody>
                <tr ng-repeat="role in availableRoles"><td>{{role.name}}</td><td ng-click='add(role.id)'>Add</td></tr>
            </tbody>
        </table>
        <button ng-click="view='account'">Done</button>
    </div>


</div>